* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

:root {
  --dark-primary: #0a0a0a;
  --light-primary: #f8f8f8;
  --text-color-main: #f7f7f7;
  --text-color-alt: #b1b1b1;
  --boxshadow-light: rgba(215, 215, 215, 0.397);
  --silver-accent: rgba(115, 115, 115, 0.5);
  --input-background: #101010;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-primary);

  ::selection {
    background: #ba04d6;
  }
}
